.introduction {
  width: 80%;
  margin: 0 auto;
}

.introduction h1 {
  font-size: 32px;
  padding-top: 50px;
  margin-bottom: 20px;
  border-bottom: 3px solid greenyellow;
}
.introduction h2 {
  font-size: 28px;
  padding-top: 50px;
  margin-bottom: 20px;
  border-bottom: 2px solid greenyellow;
}
.introduction h3 {
  font-size: 22px;
  padding-top: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #666;
}

.part {
  padding-top: 5px;
}

.part p {
  font-size: 16px;
}

.file {
  margin-top: 20px;
}

.sColumn li {
  list-style: none;
}

.part li {
  font-size: 20px;
  padding-top: 4px;
}

.selfIntroduction li {
  list-style: none;
  font-size: 16px;
}

.ss {
  background: #666;
  height: 240px;
  width: 90%;
  margin-left: 5%;
  outline: 2px solid greenyellow;
}
.ss img {
  width: 200px;
  height: 200px;
  padding-left: 20px;
  padding-top: 20px;
  float: left;
}
.gametitle {
  color: greenyellow;
  font-size: 28px;
  padding-top: 20px;
  padding-left: 240px;
}

.gametitle a {
  float: left;
  font-size: 28px;
  color: #fff;
  text-decoration: none;

  background: 
      linear-gradient(orange, orange, orange) 
      var(--p, 0) 100% /var(--d, 0) 3px
      no-repeat;
  transition: 0.3s, background-position 0s 0.3s;
}
.gametitle a:hover {
  color: cyan;
  --d: 100%;
  --p: 100%;
}

.textbox {
  font-size: 16px;
  padding-top: 50px;
  padding-left: 240px;
}

#canvas_pos {
  border: 4px ridge;
  border-color: greenyellow;
  width: 600px;
  height: 600px;
  margin: 0 auto;
}

.outline {
  background-position: center center;
  width: 90%;
  height: 320px;
  margin-left: 5%;
  margin-top: 50px;
  background: #222;
  border:2px solid greenyellow;
}

.outline h5 {
  font-size: 16px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 5px;
  border-bottom: dashed 2px orange;
}

.outline p {
  margin-left: 20px;
}