.introduction {
  width: 80%;
  margin: 0 auto;
}

.introduction h1 {
  font-size: 32px;
  padding-top: 50px;
  border-bottom: 3px solid greenyellow;
}
.introduction h2 {
  font-size: 28px;
  padding-top: 50px;
  border-bottom: 2px solid greenyellow;
}
.introduction h3 {
  font-size: 22px;
  padding-top: 10px;
  border-bottom: 1px solid #666;
}

.part {
  padding-top: 5px;
}

.part p {
  font-size: 16px;
}

.part li {
  font-size: 20px;
  padding-top: 4px;
}

.selfIntroduction li {
  list-style: none;
  font-size: 16px;
}
